{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": {
    "type": "es6"
  },
  "jsc": {
    "target": "esnext",
    "baseUrl": ".",
    "preserveAllComments": true,
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "paths": {
      "@core/*": ["./src/core/*"],
      "@database/*": ["./src/database/*"]
    }
  },
  "minify": false,
  "exclude": ["sample"]
}
