{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "target": "es2021",
    "keepClassNames": true,
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": ".",
    "experimental": {
      "keepImportAssertions": true
    },
    "preserveAllComments": true,
    "paths": {
      "@core/*": ["./src/core/*"],
      "@database/*": ["./src/database/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "minify": false
}
